.about-me {
	@include rem(margin-bottom, 0rem);
	@include rem(padding, 7rem 0 0);
	@include rem(font-size, 1.7rem);
	@include rem(line-height, 2.2rem);
	font-weight: 300;
}

.about-me .img {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding: 0 15px 15px;
}

.about-me img {
	border-radius: 50%;
}
.about-me h2 {
	text-align: center;
}
.about-me .copy {
	padding: 0 15px;
}

.about-me a {
	@extend .link-style;
}
.about-me a:hover, .about-me a:focus, .about-me a:active {
	@extend .link-style-hover;
}