.js .reveal
{
    opacity:0;
}

.js .reveal--now
{
    opacity: 1;
   transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
   
}