.slide {
	-webkit-transition:all .2s linear;
    -webkit-transform: translate3d(0,0,0);
}

.js-nav .slide {
	
	-webkit-transform: translate3d(-75%,0,0);
}

.slide__reverse {
	-webkit-transition:all .2s linear;
    -webkit-transform: translate3d(0,0,0);
}

.js-nav .slide__reverse {
	
	-webkit-transform: translate3d(-75%,0,0);
}