@font-face {
	font-family: 'remarkableicons';
	src:url('fonts/remarkableicons.eot?-ip5p4i');
	src:url('fonts/remarkableicons.eot?#iefix-ip5p4i') format('embedded-opentype'),
		url('fonts/remarkableicons.woff?-ip5p4i') format('woff'),
		url('fonts/remarkableicons.ttf?-ip5p4i') format('truetype'),
		url('fonts/remarkableicons.svg?-ip5p4i#remarkableicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'remarkableicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
	content: "\e60e";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-googleplus:before {
	content: "\e601";
}
.icon-flickr:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-arrow-up:before {
	content: "\e605";
}
.icon-arrow-right:before {
	content: "\e606";
}
.icon-notification:before {
	content: "\e607";
}
.icon-checkmark-circle:before {
	content: "\e608";
}
.icon-cancel-circle:before {
	content: "\e609";
}
.icon-info:before {
	content: "\e60a";
}
.icon-cloud-download:before {
	content: "\e60b";
}
.icon-home:before {
	content: "\e60c";
}
.icon-close:before {
	content: "\e60d";
}
.icon-menu:before {
	content: "\e604";
}
